body{
	
	direction: rtl;
/**    background: url("../img/login.jpg") no-repeat;**/
    background-size: 100% 100%;
    font-size: 16px;
}

.login {
	width:100%;
	float: right;
}
.login input{
	    margin: 2% auto;
    display: block;
    width: 50%;
        height: 35px;
	  
}
.textintro h1{
	text-align: center;
	    color: salmon;
    font-size: 2.5em;
      
}
.textintro h2 {
	text-align: center;
	    font-size: 2em;
    color: rgba(200, 19, 19, 0.8);
	
}
.btnsLogin{
	text-align: center;
}
input.ng-invalid.ng-touched{
	
	border: 1.5px solid #DA3637;
}
input.ng-valid.ng-touched{
	
	border: 1.5px solid #509D12;
	
}
.validationerror{
	 color: #DA3637;
	 text-align: center;
	
}
input:focus{

    outline: none;
}
/**nav html**/
.branding{
	    float: left;
    font-size: 2em;
  
}

.branding a{
	color:gray;
	text-align: none;
	  background: url("../img/logo2.png") no-repeat;
	     width: 148px;
    height: 64px;
    display: block;
}
.upNav {
	list-style-type: none
}
.upNav li{
	float: right;
}
.upNav li a {
	    margin-left: 10px;
    font-size: 1.2em;
}
/** **/




