<section class="registerGym">
	<form name="formGym"
	ng-submit="register()"
	novalidate>

		<div class="textintro">
			<h1 > ברוכים הבאים ל ספיס גים</h1>

			<h2> הרשמה</h2>
			{{message}}
		</div>

		<fieldset>
			<input type="text" name="firstname" placeholder="שם פרטי" ng-model="firstName" ng-required="true">
			<p class="error validationerror"
			ng-show="formGym.firstname.$invalid && formGym.firstname.$touched">
				חובה לרשום שם פרטי
			</p>

			<input type="text" name="lastName" placeholder="שם משפחה" ng-model="lastName" ng-required="true">
			<p class="error validationerror"
			ng-show="formGym.lastName.$invalid && formGym.lastName.$touched">
				חובה לרשום שם משפחה
			</p>

			<input type="email" name="email" placeholder="מייל" ng-model="user.email"
			ng-required="true">
			<p class="error validationerror"
			ng-show="formGym.email.$invalid && formGym.email.$touched">
				נא להקליד אימייל נכון
			</p>

			<input type="password" name="password" placeholder="סיסמה" ng-model="password" ng-required="true">
			<p class="error validationerror"
			ng-show="formGym.password.$invalid && formGym.password.$touched">
				נא להקליד סיסמה
			</p>
		</fieldset>
		<div class="btnsLogin">
			<button type="submit"  ng-disabled="formGym.$invalid"  class="btn btn-primary btn-lg"> 
				Register
			</button>
			<p>
				<a ng-href="#/login"  class="btn btn-secondary btn-lg">login</a>
			</p>
		</div>
	</form>
</section>
